body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #ffffff;
}

.ilkbuton {
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-family: inherit;
    line-height: 1.5;
    cursor: pointer;
    height: 56px;
}

.ilkbuton:hover,
.ilkbuton:focus {
    background-color: #404bbf;
}

a:hover,
a:focus {
    color: #404bbf;
}

a {
    text-decoration: none;
    color: #4d5ae5;
}

ul {
    list-style: none;
}

.hero-section {
    background-color: #2e2f42;
    text-align: center;
    padding: 188px 0;
    

}

.hero-title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    max-width:  496px;
    margin: 0 auto 48px auto;
    text-align: center;
    color: #ffffff;

}

h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-section {
    padding: 120px 0;
    background-color: #f4f4fd;
    text-align: center;
    
}
.team-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 0;
    list-style: none;
}
.team-list li{
    background-color: #ffffff;
    width: 264px;
}

.header2 {
    color: black;
    font-size: 36px;

}

.görselalt {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
   
    
}

.görselaltmetin {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    color: #4d5ae5;

}

.logo-light {
    color: #2e2f42;
}

.logo-light1 {
    color: #ffffff;
}

.portfolio-section {
    
    text-align: center;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.portfolio-list li {
    background-color: #ffffff;
    border: 1px solid #f4f4fd;
}

.footer-section {
    background-color: #2e2f42;
    
    padding: 100px 0;
}

.footer-p {
    color: #ffffff;
    line-height: 1.5;
    max-width: 264px;
}

.title-nav ul a {
    color: #2e2f42;
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}
.title-nav ul{
    display: flex;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.title-nav{
    margin-left: 347px;
}
.title-nav ul a:hover,
.title-nav ul a:focus {
    color: #404bbf;
}

.contacts ul a{
    color: #434445;
    
}

.contacts ul a:hover,
.contacts ul a:focus {
    color: #404bbf;

}
.contacts ul{
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    margin: 0 auto;

}
.container{
    padding: 15px;
    width: 1158px;
    margin: 0 auto;
}
.title{
    display: flex;
    
    padding: 0;
    margin: 0;

    list-style: none;
    gap: 40px;
}
header a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.benefits{
    display: flex;

    margin: 0 auto;
    justify-content: center;
    padding: 0;
    list-style: none;
    gap: 24px;
}
.benefits li {
    width: calc((100% - 72px) / 4);

}
.benefits-section{
    height: 344px;
    padding: 100px 0;
}

